<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>developer mode</title>
</head>
<body>
    <div>
        {% for i in range(0, name|length,1) %}
        <div>
            <form method="post">
                <a href={{name[i][1]}}>{{name[i][0]}}</a>
                <input type="hidden" id="delete" name="delete" value={{i}}>
                <button>delete</button>
            </form>
        </div>
<!--        <br>-->
        {% endfor %}
        <input type="hidden" id="reload" name="reload">
        <button>reload</button>
    </div>
</body>
</html>